:root {
    /* will switch to oklch soon: */
    --bg-color: hsl(0, 0%, 95%);
    /*  oklch(96%, 0%, 0) */
    --font-color: hsl(0, 0%, 20%);
    /* oklch(32%, 0%, 0) */
    --card-bg: hsl(0, 0%, 100%);
    --card-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    --ATL: #e03a3e;
    --BKN: #000000;
    --BOS: #007a33;
    --CHA: #00788c;
    --CHI: #ce1141;
    --CLE: #860038;
    --DAL: #0053bc;
    --DEN: #0e2240;
    --DET: #c8102e;
    --GSW: #ffc72c;
    --HOU: #ce1141;
    --IND: #002d62;
    --LAC: #c8102e;
    --LAL: #552583;
    --MEM: #5d76a9;
    --MIA: #98002e;
    --MIL: #00471b;
    --MIN: #0c2340;
    --NOP: #85714d;
    --NYK: #f58426;
    --OKC: #ef3b24;
    --ORL: #0077c0;
    --PHI: #006bb6;
    --PHX: #e56020;
    --POR: #e03a3e;
    --SAC: #5a2d81;
    --SAS: #c4ced4;
    --TOR: #ce1141;
    --UTA: #f9a01b;
    --WAS: #002b5c;
}

* {
    box-sizing: border-box;
    /* disable double tap to zoom. only use in mobile-pwa */
    /* touch-action: manipulation; */

}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
    /* mobile viewport bug fix */
    height: -webkit-fill-available;
}

body {
    font-family: 'Kanit', sans-serif;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    color: var(--font-color);
    font-size: 100%;
    min-height: 100vh;
    /* mobile viewport bug fix */
    min-height: -webkit-fill-available;
    /* will switch to 100 dvh when browser support grows */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/*
-------------------------------------------------------------------
MAIN
-------------------------------------------------------------------
*/
main {
    width: 95vw;
    max-width: 800px;
}

h1 {
    text-transform: uppercase;
    font-size: clamp(1.5rem, 4vw, 2rem);
    margin: 0 0 10px 0;
}

h2 {
    text-transform: uppercase;
    font-size: clamp(1rem, 4vw, 1.5rem);
    margin: 0 0 10px 0;
}

#info {
    display: flex;
    font-size: clamp(0.8rem, 3vw, 1.1rem);
    margin-bottom: 10px;
}

#info span:nth-of-type(1) {
    flex: 0 0 20%;
}

#info :where(span:nth-of-type(1), span:nth-of-type(2)) {
    flex: 0 0 40%;
}

/*
-------------------------------------------------------------------
TODAY
-------------------------------------------------------------------
*/

#today {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    margin-bottom: 30px;
}

#today .card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-bg);
    box-shadow: var(--card-shadow);
    align-items: stretch;
    line-height: 150%;
    border-radius: 5px;
}

#today .card div:first-child {
    border-radius: 5px 0 0 5px;
}

#today .card div:last-child {
    border-radius: 0 5px 5px 0;
    border-left: 1px solid var(--card-bg);
}

#today .home-team, #today .visiting-team {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 40%;
}

#today .home-team:empty, #today .visiting-team:empty {
    height: 10vw;
    max-height: 80px;
    background: linear-gradient(90deg, #e5e5e5, #ccc);
    background-size: 400% 400%;
    animation: pulse 3s linear infinite;
}

@keyframes pulse {
    0%{background-position:0% 20%}
    50%{background-position:100% 20%}
    100%{background-position:0% 20%}
}

#today .h-name,
#today .v-name,
#today .v-abbr,
#today .h-abbr {
    font-size: clamp(1rem, 3vw, 1.2rem);
    color: #fff;
    text-transform: uppercase;
    padding: 0 10px 0 0;
    font-weight: 500;
}

#today .v-abbr,
#today .h-abbr {
    display: none;
}

#today .date {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: clamp(1rem, 4vw, 1.5rem);
    flex-grow: 1;
    font-weight: 600;
    padding: 0 10px;
    flex: 0 0 20%;
}

#today .date:empty::before {
    content: "loading";
    color: hsl(0, 0%, 70%)
}

#today .card img {
    width: 10vw;
    height: 10vw;
    max-height: 80px;
    max-width: 80px;
    margin: 5px 10px;
}

/*
-------------------------------------------------------------------
MORE
-------------------------------------------------------------------
*/

#more {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
}

#more .card {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: var(--card-bg);
        box-shadow: var(--card-shadow);
        align-items: stretch;
        line-height: 150%;
        border-radius: 5px;
}

#more .card div:last-child {
    border-radius: 0 5px 5px 0;
    border-left: 1px solid var(--card-bg);
}

#more .date, #more .visiting-team, #more .home-team {
    flex: 1 0 33%;
    padding: 10px;
    font-size: clamp(1rem, 3vw, 1.2rem);
    text-align: center;
}

#more .visiting-team, #more .home-team {
    background-color: #fff;
}

/*
-------------------------------------------------------------------
MEDIA QUERIES
-------------------------------------------------------------------
*/

@media (prefers-color-scheme: dark) {
    :root {
        /* will switch to oklch soon: */
        --bg-color: hsl(0, 0%, 20%);
        /* oklch(32%, 0%, 0) */
        --font-color: hsl(0, 0%, 90%);
        /* oklch(92%, 0%, 0) */
    }
}

@media (max-width: 480px) {

    #today .h-name,
    #today .v-name {
        display: none;
    }

    #today .h-abbr,
    #today .v-abbr {
        display: inline;
        font-size: clamp(1.2rem, 5vw, 1.5rem);
    }
}